<div class="pokemonTitle">{{pokemon.pokedex_number}}. {{pokemon.name}} - {{pokemon.affinity}} Type</div>
<img src="/img/{{pokemon.name}}.png" />
<div class="pokemonDescription">{{pokemon.description}}</div>