<div class="pokemon">
  <div class="pokedexNumber">{{pokemon.pokedex_number}}</div>
  <div class="pokemonName"><a href="/pokemon/{{pokemon.pokedex_number}}">{{pokemon.name}}</a></div>
  </div class="pokemonType">{{pokemon.affinity}}</div>
</div>

<div>
  <a href="/pokemon/{{pokemon.pokedex_number}}">Next</a>
</div>